venv
*.pyc
staticfiles
.env
iwsrs/static/paper-bootstrap-wizard-v1.0.2

avatar/
bottlenecks/
retrained_labels.txt
TensorFlow_test.py
/training_summaries/
/runtime.txt
/inception/
/facerec_from_webcam_faster.py
/obama.jpg
/MNIST_data/
/label_image.py
/facenet/
/setup.py
/stunnel.conf
/media/avatar/
/tensor_app/
/retrained_graph.pb
/retrain.py
/TensorFlow_test.py
/setup_stunnel.sh

venv
*.pyc
staticfiles
.env
